html, body {
    margin: 0;
    height: 100%;
    padding: 0%;
}

.navbar {
    background-color: orange;
    padding: 20px;
    position: relative;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar ul li {
    display: inline;
    margin: auto;
}

.navbar ul li a:hover {
    color: white;
}

.container {
    width: 80%;
    margin: auto;
}

.hero {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5)),
    rgba (0,0,0,0.5);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ff7b00 ;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    color: orange;
}

p {
    color: orange;
    text-align: center;
    font-size: 1.5rem;
}

.timebox {
    display: flex;
    gap: 90px;
}

.time {
    text-align: center;
}

.time h2 {
    font-size: 5rem;
    font-weight: 100;
}

.section {
  height: 100vh;
  padding: 2rem;
  background-color: #ecf0f1;
  border-bottom: 1px solid #bdc3c7;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}